# 使用微软风格作为基础风格
BasedOnStyle: Microsoft

# 强制大括号遵循 Allman 风格
BreakBeforeBraces: Allman

# 对齐左括号
AlignAfterOpenBracket: Align

# 对齐连续的赋值
AlignConsecutiveAssignments:
    Enabled: true           # 启用连续赋值对齐
    AcrossEmptyLines: false # 跨过空行对齐
    AcrossComments: false   # 跨过注释对齐
    AlignCompound: false    # 对齐混合运算符
    PadOperators: false     # 混合运算符填补对齐到所有左值的最右边边界

# 对齐连续的声明
AlignConsecutiveDeclarations:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: true

# 对齐连续的位字段
AlignConsecutiveBitFields:
    Enabled: true
    AcrossEmptyLines: false # 跨过空行对齐
    AcrossComments: true    # 跨过注释对齐

# 对齐结构体数组
AlignArrayOfStructures: Left

# 对齐连续的宏定义
AlignConsecutiveMacros:
    Enabled: true
    AcrossEmptyLines: true  # 跨过空行对齐
    AcrossComments: true    # 跨过注释对齐

# 对齐尾部的注释
AlignTrailingComments:
    Kind: Always
    OverEmptyLines: 1
SpacesBeforeTrailingComments: 1 # 尾部注释前插入一个空格

ColumnLimit: 160 # 控制行宽，避免行太长

# 控制空格和标点符号风格
SpaceBeforeParens: ControlStatements  # 控制语句的括号前有空格
SpaceBeforeAssignmentOperators: true  # 赋值操作符前插入空格

# 缩进设置
IndentWidth: 4  # 使用4个空格缩进

# 控制每行最大空行数（避免空行过多）
MaxEmptyLinesToKeep: 1

# 对齐转义的换行符到左侧
AlignEscapedNewlinesLeft: true

# 允许将参数换行，但保持多个参数在同一行（打包参数）
AllowAllParametersOfDeclarationOnNextLine: true
BinPackParameters: true  # 启用参数打包，减少换行次数
